---
import { Image } from "astro:assets";
import makeidea from "../assets/Proyect.svg";
---

<div class="w-screen h-screen flex justify-center items-center bg-gray-100">
    <div class="w-11/12 h-4/6 flex shadow-2xl rounded-md md:w-3/6">
        <aside class="w-7/12 h-full hidden lg:flex">
            <Image
                class="object-fill rounded-l-2xl w-full bg-lightGreen"
                src={makeidea}
                alt=""
                loading="eager"
            />
        </aside>
        <section
            class="w-full lg:w-5/12 h-full bg-white rounded-r-2xl lg:rounded-r-lg md:rounded-md md:w-full"
        >
            <header class="h-1/5 w-full flex items-end">
                <div
                    class="w-3/4 h-1/2 bg-darkGreen rounded-e-3xl flex items-center justify-center"
                >
                    <span class="font-bold text-white text-2xl"
                        >Bienvenidos</span
                    >
                </div>
            </header>
            <form
                method="dialog"
                id="form-login"
                class="h-4/6 lg:h-3/5 w-full flex flex-col items-center justify-evenly"
            >
                <span class="text-2xl text-darkGreen">Login</span>

                <!-- Sexto input autocomplete="off" (Email) -->
                <div class="relative z-0 w-4/6">
                    <input
                        autocomplete="off"
                        type="email"
                        id="floating_standard6"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-darkGreen focus:border-green-400 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 peer"
                        name="usu"
                        required
                        placeholder=" "
                    />
                    <label
                        for="floating_standard6"
                        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-green-400 peer-focus:dark:text-green-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
                        >Correo</label
                    >
                </div>

                <!-- Séptimo input autocomplete="off" (Password) -->
                <div class="relative z-0 w-4/6">
                    <input
                        autocomplete="off"
                        type="password"
                        id="floating_standard7"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-darkGreen focus:border-green-400 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 peer"
                        name="password"
                        required
                        placeholder=" "
                    />
                    <label
                        for="floating_standard7"
                        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-green-400 peer-focus:dark:text-green-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
                        >Contraseña</label
                    >
                </div>

                <h1 class="w-full text-center max-h-6 h-6" id="box-response">
                </h1>
                <div class="flex flex-col items-center gap-2 w-3/5 lg:w-30">
                    <button
                        type="submit"
                        class="btn-ingresar flex-row justify-center w-full lg:w-40 text-white text-xl cursor-pointer bg-moreDarkGreen hover:bg-green-400 focus:ring-4 focus:outline-none focus:ring-[#09E85E]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100"
                        >Entrar</button
                    >
                    <a href="/register" class="text-center"
                        ><span class="text-sm">Registrarse</span>
                    </a>
                </div>
            </form>
            <footer class="w-full h-14">
                <a href="#" class="h-full flex items-center justify-center">
                    <span class="text-xs text-gray-400 hover:text-gray-800"
                        >¿Olvidó su contraseña?</span
                    >
                </a>
            </footer>
        </section>
    </div>
</div>
<script
    src="https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js"
    integrity="sha256-r9S9KZvN5nEN1voCkVbj4RdMSLwAa4qeujL5ZOWSN4M="
    crossorigin="anonymous"></script>
<script src="../controllers/validacion_login.js"></script>
