---
import Login_component from "../layouts/Login_component.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
        ></script>
        <title>Soft PAC - Login</title>
    </head>
    <body class="bg-green-900 h-screen flex justify-center items-center">
        <Login_component />
    </body>
</html>
