---
import ProjectTop from '../../assets/ProjectTop.svg'
---
<div class="w-full h-160 vistas hidden proyectos">
    <div class="w-full h-full flex justify-center items-center flex-col">
        <span class="text-3xl font-semibold p-5">Lista de Proyectos</span>
        <div class="w-11/12 overflow-x-auto shadow-md rounded-lg sm:rounded-lg">
            <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-400 uppercase bg-color-base-hover dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Id Pr
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Postulante
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Nombre del proyecto
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Personas de impacto
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Empresa
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Estado
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Detalle
                        </th>   
                    </tr>
                </thead>
                <tbody id="ProyectosRow" >
                    
                </tbody>
            </table>
        </div>

    </div> 
</div>

<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden bg-black bg-opacity-65 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="absolute md:p-4 w-full md:w-11/12 xl:w-3/6">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <div  id="HeaderModal">
                </div>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="static-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            
            <!-- Modal body -->
            <div class="p-4 border bg-white border-gray-200 w-full h-full flex flex-col justify-center items-center">
                <div class="hidden items-center justify-center h-52 mb-4 w-52 rounded lg:flex">
                    <img class="object-cover h-full" src={ProjectTop.src} alt="">
                </div>
                <section class="w-full flex flex-col gap-5" id="BodyModal">
                    <div class="">Objetivo:
                        <p></p>
                    </div>
                    <div class="">Descripción:
                        <p></p>
                    </div>
                    <div class="flex w-full gap-8">
                        <div class="">Personas Impactadas:
                            <p></p>
                        </div>
                        <div class="">Área:
                            <p></p>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Modal footer -->
            <div class="flex justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button id="btnAceptar" type="button" class="text-black bg-color-base-hover hover:bg-color-base hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Aceptar</button>
                <button id="btnRechazar" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-red-600 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Rechazar</button>
            </div>
        </div>
    </div>
</div>

  <script src="../../controllers/Proyecto/tabla_proyecto.js"> </script>