
<div class="w-full h-160 vistas hidden usuarios">
    <div class="w-full h-full flex justify-center items-center flex-col">
        <span class="text-3xl font-semibold p-5">Lista de Usuarios</span>
        <div class="w-4/5 overflow-x-auto sm:w-3/5 shadow-xl sm:rounded-lg">
            <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">

                <tbody id="row">
                    
                </tbody>
            </table>
        </div>

    </div> 
</div>
<script src="../../controllers/User/tabla_user.js"> </script>
